body {
    background-color: #777;
}

.box1 {
    width: 100%;
    height: 300px;
    float: left;
    overflow: hidden;
    position: relative;
    text-align: center;
}

header.carousel {
    height: 28vh;
    position: fixed;
    width: 100%;
    z-index: 2;
}

.carousel-caption,
.page-header {
    display: none;
}

div.col-md-4.col-sm-6 {
    padding: 0px;
    max-width: 300px;
    margin: auto;
}
.main {
    max-width: 900px;
    margin: auto;
    margin-top: 28vh;
}

.header-text {
    font-size: 130px;
    font-family: fantasy;
    text-align: center;
    height: 100%;
    vertical-align: middle;
    text-shadow: 3px 3px #BF6643;
    padding-top: 30px;
}

@media (max-width: 950px) {
  .main {
    max-width: 600px;
    margin: auto;
    margin-top: 28vh;
  }
}

@media (max-width: 420px) {
  div.col-md-4.col-sm-6 {
    max-width: 300px;
    margin: auto;
  }
  .header-text {
    font-size: 65px;
    text-shadow: 1px 1px #BF6643;
  }
}

div.box1 {
    border-color: #6b0103;
    border-style: solid;
    border-width: 4px;
    border-radius: 15px;
}

.effect1 {
    background-color: rgba(0, 0, 0, 0.7);
    opacity: 0;
    -webkit-transition: all 0.1s ease-in 0.6s;
    -moz-transition: all 0.1s ease-in 0.6s;
    -o-transition: all 0.1s ease-in 0.6s;
    -ms-transition: all 0.1s ease-in 0.6s;
    transition: all 0.1s ease-in 0.6s;
    border-color: #6b0103;
    border-style: solid;
    border-width: 4px;
    border-radius: 10px;

}

.effect1:hover {
	opacity: 100;
	border-color: #6b0103;
    border-style: solid;
    border-width: 4px;
    border-radius: 10px;
}

.box1 .effect1, .box1 .content1 {
    width: 100%;
    height: 300px;
    position: absolute;
    overflow: hidden;
    top: 0;
}

div.alot {
  font-size: 11px;
}

.box-effect1 h3 {
    -webkit-transition: all 0.2s ease-in-out 0.1s;
    -moz-transition: all 0.2s ease-in-out 0.1s;
    -o-transition: all 0.2s ease-in-out 0.1s;
    -ms-transition: all 0.2s ease-in-out 0.1s;
    transition: all 0.2s ease-in-out 0.1s;
}

.box1 h3 {
    color: #fff;
    text-align: center;
    position: relative;
    font-size: 19px;
    padding: 5px;
    margin: 10px;
}

footer {
  margin-top: 25px;
}

.cons261 {
    float: right;
    border-radius: 10px;
    border-style: solid;
    border-color: #6B0103;
    border-width: 3px;
}

/* Radial In */
.hvr-radial-in {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.7);
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.8s;
  transition-duration: 0.8s;
}
.hvr-radial-in:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-repeat: no-repeat;
  background-position: center;
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.8s;
  transition-duration: 0.8s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-radial-in:hover, .hvr-radial-in:focus, .hvr-radial-in:active {
  color: #FCF8E3;
}
.hvr-radial-in:hover:before, .hvr-radial-in:focus:before, .hvr-radial-in:active:before {
  -webkit-transform: scale(0);
  transform: scale(0);
}

button {
  background-color: rgba(0, 0, 0, 0.48);
}

.ole:before {
	background-image: url("../images/oleLidegran.jpg");
}
.anette:before {
  background-image: url("../images/anettePersdotter.jpg");
}
.chris:before {
  background-image: url("../images/chrisOttenbark.jpg");
}
.elisabeth:before {
  background-image: url("../images/elisabethWelander.jpg");
}
.hans:before {
  background-image: url("../images/hansSjoblom.jpg");
}
.lilleSvensken:before {
  background-image: url("../images/lilleSvensken.jpg");
}
.pia:before {
  background-image: url("../images/piaThomee.jpg");
}
.rolf:before {
  background-image: url("../images/rolfLindahl.jpg");
}
.susanne:before {
  background-image: url("../images/susanneFranzen.jpg");
}
.sofie:before {
  background-image: url("../images/sofieJohansson.jpg");
}
.ake:before {
  background-image: url("../images/akeRoslund.jpg");
}
.KI:before {
  background-image: url("../images/arthursson.jpg");
  background-size: cover;
}
.torill:before {
  background-image: url("../images/torillVale.jpg");
}
.lennart:before {
  background-image: url("../images/lennartMassback.jpg");
}
.jenny:before {
  background-image: url("../images/jennyEjlertsson.jpg");
}
.margareta:before {
  background-image: url("../images/margaretaSjoblom.jpg");
  background-size: cover;
}
.alla:before {
  background-image: url("../images/alla.jpg");
  background-position: center;
}
